.App {
  text-align: center;
}
body {
  background-image: url("/images/marcin-jakubczak-star-destroyers-star-wars-zerosu-metallium-1274267.jpg");
  background-size: 100%;
  font-family: "Poller One", cursive;
}
h1 {
  display: none;
}
img#logo {
  width: 5in;
}

p {
  color: #ffe81f;
}
